div.atom {
	text-align: center;
	line-height: 100%;
	vertical-align: middle;
	display:-webkit-box;
	-webkit-box-pack:center; /* Horizontal */
	-webkit-box-align:center; /* Vertical */
}

	div.atom>img {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		top: 0;
		left: 0;
	}

	div.atom>img.atom {
		z-index: 1000;
	}
	
	div.atom>img.conn {
		z-index: 0;
	}